In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

In [36]:
data=datasets.load_boston()
data1=pd.DataFrame(data.data)
Y=data.target

In [37]:
data1.columns=['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','x11','x12','x13']

In [44]:
boston=datasets.load_boston()
X=boston.data
Y=boston.target
import pandas as pd
df = pd.DataFrame(X)
print (boston.feature_names)
df.columns=boston.feature_names
df.describe()

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [39]:
from sklearn import model_selection as ms
from sklearn.linear_model import LinearRegression as LR

In [50]:
#we are going to add new features to X

x=len(boston.feature_names)
for i in range(x):
    for j in range(i,x):
        f1=df.columns[i]
        f2=df.columns[j]
        f_name=f1+'_'+f2
        print f_name
        df[f_name]=df[f1]*df[f2]

CRIM_CRIM
CRIM_ZN
CRIM_INDUS
CRIM_CHAS
CRIM_NOX
CRIM_RM
CRIM_AGE
CRIM_DIS
CRIM_RAD
CRIM_TAX
CRIM_PTRATIO
CRIM_B
CRIM_LSTAT
ZN_ZN
ZN_INDUS
ZN_CHAS
ZN_NOX
ZN_RM
ZN_AGE
ZN_DIS
ZN_RAD
ZN_TAX
ZN_PTRATIO
ZN_B
ZN_LSTAT
INDUS_INDUS
INDUS_CHAS
INDUS_NOX
INDUS_RM
INDUS_AGE
INDUS_DIS
INDUS_RAD
INDUS_TAX
INDUS_PTRATIO
INDUS_B
INDUS_LSTAT
CHAS_CHAS
CHAS_NOX
CHAS_RM
CHAS_AGE
CHAS_DIS
CHAS_RAD
CHAS_TAX
CHAS_PTRATIO
CHAS_B
CHAS_LSTAT
NOX_NOX
NOX_RM
NOX_AGE
NOX_DIS
NOX_RAD
NOX_TAX
NOX_PTRATIO
NOX_B
NOX_LSTAT
RM_RM
RM_AGE
RM_DIS
RM_RAD
RM_TAX
RM_PTRATIO
RM_B
RM_LSTAT
AGE_AGE
AGE_DIS
AGE_RAD
AGE_TAX
AGE_PTRATIO
AGE_B
AGE_LSTAT
DIS_DIS
DIS_RAD
DIS_TAX
DIS_PTRATIO
DIS_B
DIS_LSTAT
RAD_RAD
RAD_TAX
RAD_PTRATIO
RAD_B
RAD_LSTAT
TAX_TAX
TAX_PTRATIO
TAX_B
TAX_LSTAT
PTRATIO_PTRATIO
PTRATIO_B
PTRATIO_LSTAT
B_B
B_LSTAT
LSTAT_LSTAT

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,TAX_TAX,TAX_PTRATIO,TAX_B,TAX_LSTAT,PTRATIO_PTRATIO,PTRATIO_B,PTRATIO_LSTAT,B_B,B_LSTAT,LSTAT_LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,506.000000,506.000000,506.00000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,...,195006.197628,7702.055336,138823.11502,5818.871146,345.284447,6547.619334,239.290334,135534.645253,4274.823238,210.993989
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,...,157613.919181,3732.003358,64619.91997,5083.126041,76.318094,1837.557901,145.807763,41830.850997,2613.501822,236.061920
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,...,34969.000000,2692.800000,213.12000,498.960000,158.760000,6.464000,25.431000,0.102400,5.580800,2.992900
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,...,77841.000000,4913.600000,101240.04000,2051.340000,302.760000,6140.250000,122.942000,140908.274275,2355.214275,48.303700
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,...,108900.000000,5924.100000,119658.91500,3724.380000,362.905000,7078.025500,205.030000,153225.273700,3804.722600,129.050000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,...,443556.000000,13453.200000,160982.30250,8489.782500,408.040000,7695.286500,334.360500,156994.250700,5640.628650,287.472100
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,...,505521.000000,14291.100000,282195.90000,25288.020000,484.000000,8421.600000,766.994000,157529.610000,15070.293000,1441.720900

In [53]:
X=df.values

In [54]:
X_train, X_test, Y_train,Y_test = ms.train_test_split(X,Y)

In [55]:
#now we are going to predict the score of this thing

alg1=LR()

alg1.fit(X_train,Y_train)
ypred = alg1.predict(X_test)

print alg1.score(X_train,Y_train)
print alg1.score(X_test,Y_test)

0.9445386665
0.69176998432